*.pyc
*.nml
*.db
*.db.index
*.db.lock
*.db.tmp
build/*
PyOpenWorm.egg-info/*
env
dist/*
tests/*.log
tests/_test.conf
OpenWormData/worm.*
worm.fs*
.DS_Store
six-1.7.3*
.eggs/*
.idea/*
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/PyOpenWorm-OW.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
zodb_test_db.fs.tmp
zodb_test_db.fs
zodb_test_db.fs.index
zodb_test_db.fs.lock
OpenWormData/scripts/worm.db.tmp
OpenWormData/scripts/worm.db.index
OpenWormData/scripts/worm.db.lock
OpenWormData/scripts/worm.db
examples/*.npy
examples/cell_indices
OpenWormData/WormData.n3
OpenWormData/WormData.n4
*.ipynb
*.out
*.nb
*.orig
snakefood
# I'm not sure what makes .cache, but it isn't human...
.cache
.coverage
